.landingPageContainer {
  width: 100vw;
  height: 100vh;
  background: radial-gradient(circle at 10% 20%, rgb(30, 30, 50) 0%, rgb(18, 18, 18) 90.2%);
  color: white;
  overflow: hidden;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 20px;
  text-align: center;
}

.meetContainer {
  display: flex;
  padding-inline: 20px;
  height: 80vh;
  gap: 10vw;
  justify-content: center;
}

.leftPanel {
  height: 100%;
  display: flex;
  align-items: center;
}

.rightPanel {
  display: flex;
  align-items: center;
}

.rightPanel>img {
  width: 30vw;
  height: auto;
  border-radius: 20px;
}